.allProjects {
    float: left;
}

#projects img {
    height: 350px;
    width: auto;
    margin: 20px;
    border: 5px solid white;
}

#tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #4FBBC9;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    align-content: flex-end;
    opacity: 0.75;
    right: 5em;
    margin-top: 5px;
}

.allProjects {
    border-bottom: 1px solid darkgrey;
}

@media (max-width:800px) {
    #projects img {
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width:630px) {
    #tooltiptext {
        width: 150px;
        right: 1em;
    }
}

@media (max-width:320px) {
    #tooltiptext {
        right: 0.1em;
        width: 300px;
        margin-top: 0px;
        padding-top: 0;
        padding-bottom: 0;
    }
}